node 'nv-apic-01.uktme.cisco.com' {
  apic { 'SomeAPICConfig' :
      address => 'nv-apic-01.uktme.cisco.com',
      user => 'admin',
      password => 'C!5co123',
      config_type => 'hash',
      config => {
        'fvAp' => {
          'attributes' => {
            'descr'     => 'My 3-tier app',
            'dn'        => 'uni/tn-puppet-tenant/ap-three-tier-app',
            'name'      => 'three-tier-app',
            }
          }
      },
      ensure => 'present',
  }
}
