#
# Configuration for ACI Fabric
#
aci_config:
  system_id: {{ aci_systemd_id }}             # Every opflex cluster must have a distict ID
  apic_hosts:                   # List of APIC hosts to connect for APIC API
  - {{ aci_apic_host }}
  vmm_domain:                   # Kubernetes VMM domain configuration
    encap_type: {{aci_encap }}           # Encap mode: vxlan or vlan
    mcast_fabric: {{ aci_fabric_mcast }}
    mcast_range:                # Every opflex VMM must use a distinct range
      start: {{ aci_start_mcast_range }}
      end: {{ aci_end_mcast_range }}
    nested_inside:
      type: vmware
      name: {{ vmware_vmm }}

  # The following resources must already exist on the APIC,
  # they are used, but not created by the provisioning tool.
  aep: {{ aci_aep }}             # The AEP for ports/VPCs used by this cluster
  vrf:                          # This VRF used to create all kubernetes EPs
    name: {{ aci_vrf }}
    tenant: {{ aci_tenant }}              # This can be system-id or common
  l3out:
    name: {{ aci_l3out }}          # Used to provision external IPs
    external_networks:
    - {{ aci_ext_epg }}             # Used for external contracts

#
# Networks used by Kubernetes
#
net_config:
  node_subnet: {{ node_subnet }}      # Subnet to use for nodes
  pod_subnet: {{ pod_subnet }}       # Subnet to use for Kubernetes Pods
  extern_dynamic: {{ ext_dynamic }}   # Subnet to use for dynamic external IPs
  extern_static: {{ ext_static }}    # Subnet to use for static external IPs
  node_svc_subnet: {{ node_svc_subnet }}  # Subnet to use for service graph
  kubeapi_vlan: {{ node_vlan }}            # The VLAN used by the physdom for nodes
  service_vlan: {{ ext_vlan }}            # The VLAN used by LoadBalancer services
  infra_vlan: {{ infra_vlan }}              # The VLAN used by ACI infra

#
# Configuration for container registry
# Update if a custom container registry has been setup
#
registry:
  image_prefix: noiro                   # e.g: registry.example.com/noiro
  # image_pull_secret: secret_name      # (if needed)
