iface lo inet loopback
auto lo

auto {{ mgmt_iface }}
iface {{ mgmt_iface }} inet dhcp
  dns-search {{ dns_domain }}
  dns-nameservers {{ dns_servers|join(' ') }} 

auto {{ uplink_iface }}
iface {{ uplink_iface }} inet manual
  mtu 1600

auto {{ uplink_iface }}.{{ node_vlan }}
iface {{ uplink_iface }}.{{ node_vlan }} inet static
  mtu 1600
  address {{ node_ip_addr }}
  netmask {{ node_netmask }}
  vlan-raw-device {{ uplink_iface }}
  up ip route add {{ pod_cidr }} via {{ node_subnet|regex_replace('(^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3})\/\d{1,2}$', '\\1') }} dev {{ uplink_iface }}.{{ node_vlan }}

auto {{ uplink_iface }}.{{ infra_vlan }}
iface {{ uplink_iface }}.{{ infra_vlan }} inet dhcp
  mtu 1600
  vlan-raw-device {{ uplink_iface }}
  up ip route add {{ aci_fabric_mcast }} dev {{ uplink_iface }}.{{ infra_vlan }}


