iface lo inet loopback
auto lo

auto {{ uplink_iface }}
iface {{ uplink_iface }} inet manual
  pre-up /sbin/ip link set $IFACE mtu 9000

auto {{ uplink_iface }}.{{ node_vlan }}
iface {{ uplink_iface }}.{{ node_vlan }} inet static
  address {{ node_ip_addr }}
  gateway {{ node_gw_addr }}
  netmask {{ node_netmask }}
  vlan-raw-device {{ uplink_iface }}

auto {{ uplink_iface }}.{{ infra_subint }}
iface {{ uplink_iface }}.{{ infra_subint }} inet dhcp
  vlan-raw-device {{ uplink_iface }}
  up route add -net {{ fabric_mc_addr }} dev {{ uplink_iface }}.{{ infra_subint }}

auto {{ uplink_iface }}.{{ mgmt_subint }}
iface {{ uplink_iface }}.{{ mgmt_subint }} inet dhcp
  dns-search {{ dns_domain }}
  dns-nameservers {{ dns_servers|join(' ') }} 
  vlan-raw-device {{ uplink_iface }}

